<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRAITyxYAO1Il5qvU_7PQy_VA7xvtKgOM</string>
	<key>GCM_SENDER_ID</key>
	<string>828802900311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.womboApp</string>
	<key>PROJECT_ID</key>
	<string>dreamtoimage-fa6f1</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamtoimage-fa6f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828802900311:ios:4de89f63a8dfba43381e12</string>
</dict>
</plist>